<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "hello", pages_history_path, class: "btn btn-lg btn-success" %>
<button type="button" class="btn btn-primary">Primary</button>